<%- include("header.html") %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>添加数据</h2>
    </div>
</div>

<!-- 表单    -->
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form method="post" action="add" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密码：</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">类型：</label>
                <div class="col-sm-10">
                    <input list="isAdmin" name="isAdmin"/>
                    <datalist id="isAdmin">
                        <option value="true">
                        <option value="false">
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">保存内容</button>
                    <a href="/admin/category" class="btn btn-white" type="submit">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 表单 end    -->
<%- include("footer.html") %>