
</div>
</div>
</div>
<!--右侧部分结束-->
</div>

<!-- 全局js -->
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="/js/hAdmin.js?v=4.1.0"></script>
<script type="text/javascript" src="/js/index.js"></script>

<!-- 第三方插件 -->
<script src="/js/plugins/pace/pace.min.js"></script>
<!-- simditor -->
<script type="text/javascript" src="/js/plugins/markdown/markdown.js"></script>
<script type="text/javascript" src="/js/plugins/markdown/to-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/markdown/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/markdown/bootstrap-markdown.zh.js"></script>
<!-- SUMMERNOTE -->
<script src="/js/plugins/summernote/summernote.min.js"></script>
<script src="/js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
    $(document).ready(function () {

        $('.summernote').summernote({
            lang: 'zh-CN'
        });

    });
</script>

</body>

</html>